html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}
html, body {
  background: #fff;
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px;
  color: #414141;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #414141;
}
a:hover {
  text-decoration: none;
  color: #414141;
}
/*-----------------<UTIL>-------------------*/
.spacer {
  padding: 2rem 0;
}
.spacer__xs {
  padding: .5rem 0;
}
.spacer__sm {
  padding: 1rem 0;
}
.spacer__m {
  padding: 1.5rem 0;
}
.spacer__g {
  padding: 4rem 0;
}
.bg-responsive {
  background: no-repeat center center;
  background-size: cover;
}
/*-----------------</UTIL>------------------*/

/*-----------------<FUENTE>------------------*/
.text-aqua {
  color: #059804 !important;
}
.text-blanco {
  color: #fff;
}
.text-negro {
  color: #414141;
}
.text-gris {
  color: #e5e5e5;
}
.text-azul {
  color: #1e436c;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
  color: #414141 !important;
}
h1, h2, h3, h5 {
  font-weight: 700 !important;
}
h1 {
  font-size: 36px !important;
}
h2 {
  font-size: 30px !important;
}
h3 {
  font-size: 24px !important;
}
h5 {
  font-size: 18px !important;
}
h6 {
  font-size: 14px !important;
}
/*-----------------</FUENTE>------------------*/
/**************************************************/
/*-----------------<COLORES BG>------------------*/
.bg-aqua {
  background: #00c6d6;
}
.bg-blanco {
  background: #fff;
}
.bg-negro {
  background: #414141;
}
.bg-gris {
  background: #e5e5e5;
}
.bg-azul {
  background: #1e436c;
}
.bg-aqua-deg {
  background-image: linear-gradient(to right, #31d771 0%, #31d771 82%, #31d771 100%);
}
.bg-aqua-deg-bottom {
  background-image: linear-gradient(to bottom, #31d771 0%, #31d771 82%, #31d771 100%);
}
/*-----------------</COLORES BG>------------------*/
/**************************************************/
/*-----------------<BOTONES>------------------*/
.boton {
  letter-spacing: .5px;
  font-weight: bold;
  width: 100%;
  padding: 1rem 0;
  display: inline-block;
  font-size: 14px;
  border-radius: 0.25rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none !important;
}
.boton__aqua__fill {
  color: #fff;
  border: 1px solid #19ce40;
  background-image: linear-gradient(to right,#00d647 0%, #35e452 51%, #00d647 100%);
  transition: 0.5s;
  background-size: 200% auto;
}
.boton__aqua__fill:hover,
.boton__aqua__fill:active {
  color: #fff;
  background-position: right center;
}
.boton__aqua__border {
  color: #19ce40;
  border: 1px solid #19ce40;
  -webkit-transition: background-image 0.2s ease-in-out;
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  transition: 0.8s;
}
.boton__aqua__border:hover,
.boton__aqua__border:active {
  color: #fff;
  background-image: linear-gradient(to right, #00d647 0%, #35e452 51%, #00d647 100%);
}
.boton__single {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.boton__single:hover {
  color: #fff;
}
.boton__lg {
  max-width: 343px;
}
.boton__g {
  max-width: 179px;
}
.boton__m {
  max-width: 179px;
}
.boton__s {
  max-width: 108px;
}
/*-----------------</BOTONES>------------------*/
/**************************************************/
/*---------------<COMPONENTES>---------------*/
/* WIDGET PRODUCTOS */
.card-product {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 450px;
}
.card-product div:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 70%;
}
.card-product div:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  padding: 1rem;
  height: 30%;
}
/* WIDGET POST */
.card-post {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  width: 100%;
  height: 450px;
}
.card-post div:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
}
.card-post div:nth-child(2) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #fff;
  padding: 1rem;
  height: 50%;
}
/*-----------------</COMPONENTES>------------------*/
/**************************************************/
/*---------------<NAVEGACIÓN>---------------*/
.ml-auto {
  font-weight: bold;
}
.home_contacto {
  width: 100%;
  height: 55px;
  margin: 0;
  overflow: hidden;
}
.nav-home {
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
}
.nav-home .home_idiomas select, .nav-home .home_idiomas .home_tel, .nav-home .navbar-light > li .nav-link,
.nav-home .navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.nav-site .home_idiomas select, .nav-site .home_idiomas .home_tel, .nav-site .navbar-light > li .nav-link,
.nav-site .navbar-light .navbar-nav .nav-link {
  color: #414141;
}
.home_idiomas select {
  width: 75px;
  height: 55px;
  border: 0;
  background-color: #e6e6e600;
  vertical-align: top;
  border-radius: 0;
}
.home_idiomas {
  width: 100%;
  display: inline-block;
}
.home_idiomas .home_tel {
  display: inline-block;
  vertical-align: middle;
  float: right;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px
}
.nav-home .home_idiomas .home_tel {
  border-left: 1px solid #5f7995;
}
.nav-site .home_idiomas .home_tel {
  border-left: 1px solid #dbdbdb;
}
.home_tel label {
  font-size: 14px;
}
.home_tel p {
  color: #059804;
  margin-top: -5px;
  font-size: 14px;
  font-weight: bold;
}
.nav-home .navbar {
  border-top: 1px solid #5f7995;
  border-bottom: 1px solid #5f7995;
}
.nav-home .navbar-light .navbar-brand .logo {
  background-image: url(../images/logo.png);
}
.nav-site .navbar-light .navbar-brand .logo {
  /*background-image: url(../images/logo-aquaworld-cancun-tours.png);*/
}
.nav-site .navbar {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.nav-site .row .col-12 .home_tel p {
  color: #00c6d6;
}
.navbar-light > li {
  list-style: none;
  display: inline-block;
}
.navbar-light > li .nav-link,
.navbar-light .navbar-nav .nav-link {
  margin-right: 24px;
}
.navbar img {
  width: 55px;
  margin-left: 15px;
  margin-top: -5px;
}
.logo {
  width: 191px;
  height: 41px;
  background: no-repeat center center;
  background-size: cover;
}
.navbar-brand {
  margin-left: 0px;
}
/*---------------</NAVEGACIÓN>---------------*/
/**************************************************/
/*------------------<BUSCADOR>----------------------*/
.content-search {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  opacity: .9;
}
.close__search {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  font-size: 1.5rem;
}
.input-search {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  max-width: 300px;
  width: 100%;
  line-height: 3rem;
}
.input-search input {
  display: inline-flex;
  font-weight: 600;
  color: #fff;
  font-size: 30px;
  background: transparent;
  border: none;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}
.input-search a {
  color: white;
  display: inline-flex;
  font-size: 30px;
}
.content-search input:focus {
  outline: none;
  box-shadow: none;
}
.content-search input::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/*-----------------</BUSCADOR>-----------------*/
/****************************************************/
/***************************************<-ESTILOS HOME->************************************************>/
 */
/*-----------------<VIDEO>------------------*/

.home_video {
  height: 750px;
  background: url('../images/inicio/emp-1.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.home_video h2.titulo {
  font-size: 42px !important;
  color: #fff !important;
  line-height: 40px !important;
}
h1.sub_titulo {
  font-weight: bold !important;
  font-size: 84px !important;
  color: #fff !important;
  margin-top: 10px !important;
  margin-bottom: 60px !important;
  letter-spacing: .1em !important;
}
.home_video .row a {
  margin-left: auto;
  margin-right: auto;
}
.title_home {
  max-width: 700px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
/*-----------------</VIDEO>------------------*/
/**************************************************/
/*-----------------<TOUR>------------------*/

#tour{
  position: relative;
  top: 6rem;
  margin-bottom: 6rem;
}

#tour img{
  padding: 0 1rem 10rem 10rem;
  position: absolute;
  bottom: 0;
}
/*-----------------</TOUR>------------------*/
/**************************************************/
/*-----------------<PESCA>------------------*/

#pesca {
  background-image: url(../images/pesca.png);
  height: 450px;
  margin-left: 5rem;
  margin-right: 5rem;
}
/*-----------------</PESCA>------------------*/
/**************************************************/
/*-----------------<CAROUSEL PROMOS>-----------------*/
#promociones {
  padding: 5rem 0 3rem 0;
  height: 100%;
  margin: 3.5rem 0;
}
#promociones:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
  background: #eaf1f2;
  -ms-transform: skewY(3deg); /* IE 9 */
  -webkit-transform: skewY(3deg); /* Safari */
  transform: skewY(3deg); /* Standard syntax */
}
#promociones .card-product {
  margin-bottom: 3rem;
}
#promociones .card-product div:nth-child(1) {
  height: 60%;
}
#promociones .card-product div:nth-child(2) {
  height: 40%;
}
#promociones h2 {
  text-align: center;
}
.home_carrusel {
  height: 650px;
  width: 100%;
  display: inline-block;
  padding-top: 70px;
  padding-bottom: 90px;
  position: relative;
}
.home_carrusel .card-product {
  border: none;
  height: 339px;
  padding: 0 1rem;
}
.home_promo {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.home_promo h2 {
  color: #fff;
  position: relative;
  z-index: 1;
}
.home_carrusel:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 600px;
  width: 100%;
  display: inline-block;
  background-image: linear-gradient(#0d8ea9 0%, #1e436c 100%);
  -ms-transform: skewY(2deg); /* IE 9 */
  -webkit-transform: skewY(2deg); /* Safari */
  transform: skewY(2deg); /* Standard syntax */
}
.home_promo .card {
  border: none;
}
.card-block {
  padding: 17px 19px 0;
  margin-bottom: 22px;
}
.card-text p {
  font-size: 16px;
  margin-bottom: 10px;
}
.card-text b {
  font-size: 32px;
  color: #19cec5;
}
.card-text b i {
  display: inline-block;
  font-style: normal;
  padding-top: 2px;
  vertical-align: middle;
  font-size: 20px;
}
.card-text a {
  color: #19cec5;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
}
.card-img-top-250 img {
  width: 100%;
}
.wrapper__slide {
  padding-left: 2rem;
  padding-right: 2rem;
}
/*-----------------</CAROUSEL PROMOS>-----------------*/
/****************************************************/
/*-----------------<HOME BLOG>-----------------*/
.logo_aquaworld {
  width: 100%;
  max-width: 230px;
}
.blog_entradas {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
  display: block;
  color: #19cec5;
  font-size: 14px;
  width: 170px;
}
#home_blog .card-post {
  height: 339px;
  margin-bottom: 2rem;
  cursor: pointer;
}
#home_blog h2 {
  text-align: center;
}
/*-----------------</HOME BLOG>-----------------*/
/***************************************</ESTILOS HOME->************************************************>/
/****************************************************/

/*-----------------<FOOTER>-----------------*/
.scroll{
  cursor: pointer;
  bottom: 0;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
}
.scroll i{
  position: relative;
  top:5px;
  font-size: 25px;
}
footer {
  padding: 1rem 0;
}
.footer_social a {
  text-decoration: none;
  color: #95989a;
}
.footer_social li {
  font-size: 20px;
  margin-right: .5rem;
}
.footer_social li.facebook a:hover {
  color: #3b5998;
}
.footer_social li.twitter a:hover {
  color: #55acee;
}
.footer_social li.instagram a:hover {
  color: #0976b4;
}
.footer_social li.youtube a:hover {
  color: #b31217;
}
.footer_social li.pinterest a:hover {
  color: #cb2027;
}
.footer_social li.googleplus a:hover {
  color: #dd4b39;
}
.footer_social {
  list-style: none;
  text-decoration: none;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  padding: 0;
  margin: 0;
}
.footer_politicas {
  text-decoration: none;
  text-align: right;
}
.footer_menus {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.footer_menus li:before {
  content: "\00BB \0020";
}
.footer_menus li {
  height: 29px;
  border-bottom: 1px solid #d8d8d8;
}
.footer_menus li a {
  text-decoration: none;
  color: #4e4e4e;
}
.footer_menus li.menu_item a:hover {
  color: #19cec5;
}
.footer_politicas {
  display: flex;
  justify-content: flex-end;
}
.footer_terminos {
  margin-right: 20px;
}
.footer_terminos a {
  text-decoration: none;
  color: #414141;
}
.footer_politicas a {
  text-decoration: none;
  color: #414141;
}
/*-----------------</FOOTER>-----------------*/
/****************************************************/
/***************************************</ESTILOS TOUR->************************************************/
/*-------------------<TOURS PAGE>*-----------------*/
.tours_page .card-product{
  height: 339px!important;
  margin-bottom:1rem;
}
/*-------------------<TABS TOUR>*-----------------*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #00c6d6;
  background-color: #fff;
  border-color: transparent transparent #00c6d6;
  border-bottom-width: 3px;
}
.nav-link {
  color: #414141;
}
/*-------------------</TABS TOUR>*-----------------*/

/*-------------------<SLIDER TOUR>*-----------------*/
.tour-slider-item {
  height: 350px !important;
  background-size: cover;
  background: #464646 no-repeat center center;
}
.tour-descripcion {
  padding: 25px 0;
}
.tour-collapse {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.tour-rate {
  margin-bottom: 1rem;
}
.tour-rate img {
  width: 18px;
}
.tour-rate p {
  display: inline-block;
  font-size: 18px;
  padding-left: 15px;
}
/*-------------------</SLIDER TOUR>*-----------------*/
/*-------------------<ACORDION>*-----------------*/
.card-header {
  background: #1e436c !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header.collapsed {
  background: #fff !important;
  position: relative;
}
#accordion .card-header:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  right: 15px;
  content: " ";
  top: 17px;
  transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#accordion .card-header.collapsed:after {
  border-right: 2px solid #4a6e78;
  border-bottom: 2px solid #4a6e78;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card-header.collapsed > .tour-collapse {
  color: #414141 !important;
}
#accordion .card {
  border: none;
  margin: 5px 0;
}
#accordion .card-header {
  cursor: pointer;
}
/*-------------------</ACORDION>*-----------------*/
/*-------------------<WIDGET RESERVACIÓN>*-----------------*/
.reservacion label {
  font-weight: bold;
}
.social_sidebar {
  display: inline-block;
  width: 100%;
  text-align: right;
}
.social_sidebar p {
  float: left;
  display: inline-block;
  vert-align: middle;
}
.social_sidebar a {
  margin-top: 1.5rem;
  display: inline-block;
  vert-align: middle;
  font-size: 1.3rem;
  text-decoration: none;
  color: #414141;
  margin-left: .5rem;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.social_sidebar a:hover {
  color: #19cec5;
}
.ayuda .titulo {
  font-weight: bold;
}
.ayuda i {
  font-size: 25px;
  color: #757575;
  margin-right: 7px;
}
#collapseComent .rounded-circle {
  width: 100%;
  max-width: 60px;
}
#collapseComent h6 {
  font-weight: bold;
}
.media-body {
  border-bottom: 1px solid #e5e5e5;
}
.leer-coment {
  color: #00c6d6 !important;
  font-weight: bold;
  margin-left: 10px
}
.reservacion .card-header .card-text {
  color: #fff;
  font-weight: bold;
}
.reservacion .card-header .card-text b {
  color: #fff;
}
.reservacion .card-header .card-text strong {
  font-size: 18px;
}
/*-------------------</WIDGET RESERVACIÓN>*-----------------*/

/***************************************</ESTILOS TOUR->************************************************/
/****************************************************/
/***************************************<ESTILOS PAGO>************************************************/
.banner_pasos_pago {
  width: 100%;
}
.banner_pasos_pago span {
  padding: 4px 9px;
  border: solid 1px #fff;
  border-radius: 50%;
  margin-right: .5rem;
}
.banner_pasos_pago span.active {
  color: #19cec5;
  background: #fff;
}
#pedidos #pedidos-item {
  border-bottom: solid 1px #e5e5e5;
  margin-bottom: 1rem;
}
#pedidos #pedidos-item p {
  margin: 0;
}
#descuento p {
  width: 47%
}
#descuento input {
  width: 25%;
  padding: .7rem
}
#descuento a {
  width: 25%;
  padding: .6rem
}
.numeros-tarjeta input {
  width: 10%;
  display: inline-block;
  margin-right: .3rem;
  padding: .7rem;
}
.numeros-tarjeta img {
  width: 45px;
}
/***************************************</ESTILOS PAGO->************************************************/
/***************************************<CERTIFICACIONES>************************************************/

/***************************************</CERTIFICACIONES->************************************************/

.section_banner {
  position: relative;
  height: 172px;
}
.tour_banner {
  width: 100%;
}
.tour_titulo {
  left: 0;
  position: absolute;
  text-align: center;
  color: #fff;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.contenedor {
  width: 91%;
  margin: 30px auto;
}

.sombra {
  box-shadow: none;
  transition: box-shadow .5s;
}
.sombra:hover {
  -webkit-box-shadow: 1px 8px 36px -1px rgba(181, 177, 181, 1);
  -moz-box-shadow: 1px 8px 36px -1px rgba(181, 177, 181, 1);
  box-shadow: 1px 8px 36px -1px rgba(181, 177, 181, 1);
}
.card-img-top {
  max-height: 240px;
  height: 240px;
}
.pesca_item {
  border: solid 1px #e5e5e5;
}
.pesca_item .bg-responsive {
  height: 100%;
  min-height: 200px;
}
.pesca_grid > .col-md-6 {
  margin-bottom: 2rem;
}
.list-group-item {
  margin-bottom: 0;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e5e5e5;
  padding: 0.75rem 0;
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
}
#tags > p {
  border: solid 1px #e5e5e5;
  width: fit-content;
  padding: 10px 10px 0 10px;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: .5rem !important;
  margin-right: .5rem;
  font-weight: 600;
}
.historia_item {
  padding-left: 155px;
  position: relative;
  top: -48px;
}
.historia_item_left {
  border-right: solid 2px #e5e5e5;
}
.historia_item_right {
  border-left: solid 2px #e5e5e5;
}
/*-----------------<PAGINACION>-----------------*/
.pagination {
  width: 100%;
  display: inline-block;
}
.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-image: linear-gradient(to right, #00c6d6 0%, #31d7b6 51%, #00c6d6 100%);
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
#directorio {
  -webkit-box-shadow: inset 0 5px 23px -4px rgba(65, 65, 65, 0.69);
  -moz-box-shadow: inset 0 5px 23px -4px rgba(65, 65, 65, 0.69);
  box-shadow: inset 0 5px 23px -4px rgba(65, 65, 65, 0.69);
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: solid 2px #00c6d6;
  outline: none;
  box-shadow: none;
}
.form-control {
  border: none;
  background: #f6f6f6;
}
/*-----------------</PAGINACION>----------------*/

@media screen and (max-width: 767px) {
  #resumen-pedido {
    margin-top: 2rem;
  }
  .numeros-tarjeta img {
    width: 39px;
  }
  .numeros-tarjeta input {
    width: 20%;
  }
  .ubicacion {
    margin-top: 2rem;
  }
  .boton__s, .boton__m, .boton__g, .boton__lg {
    width: 100% !important;
  }
  .contenedor {
    width: 95%;
  }
  h1.sub_titulo {
    font-size: 4rem;
  }
  .home_idiomas .moneda__header,
  .home_tel label {
    display: none;
  }
  .home_idiomas .home_tel {
    border-left: none;
    line-height: 55px;
    float: none;
  }
  .navbar-light > li {
    position: absolute;
    top: -55px;
    right: 0;
    line-height: 55px;
  }
  .navbar-light .navbar-toggler {
    outline: none;
  }
  .navbar-light > .link__store {
    right: 40px;
  }
  .navbar-light > li .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
  /*.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }*/
  footer .row{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
}
@media only screen and (max-width: 575px) {
  .logos_certificaciones{
    text-align: center !important;

  }
  .logos_certificaciones img{

    width: 49%;

  }
  #tour{
    position: initial;
    top: 0;
    margin-bottom: 0;
  }

  #tour img{
    padding: 0;
    position: initial;
  }

  #pesca{
    margin-left: 0;
    margin-right: 0;
  }
}



